body {
    background-color: #FFFFFF; /* white background */
}

h1 {
    color: #fe6b01; /* Intercept Orange*/
}

h2 {
    color: #13bdd2; /* Intercept Blue */
}

h3 {
    color: #6bbe4a; /* Intercept Green */
}

/*
h4 {
    color: #0C134F;
}

h5, h6 {
    color: #4F709C;
}

code.r {
    color: #f48b53;
}

pre.r {
    color:#0C134F;
}
*/

p {
    color: #0d204a; /* OmicsBox Blue */
}

a {
    color: #0046ad; /* Intercept Blue */
}

a:hover {
    color: #b4b905; /* BioBam Dark Green */
}

/*
.img-container {
    text-align: left;
}
*/
